<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{site.title}}</title>
      
        <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
    </head>
    <body>
        {% include "../template-parts/_header.njk" %}

        <h1>{{site.title}}</h1>

        {% include "../template-parts/_footer.njk" %}
        {{content | safe}}
    </body>
</html>